/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--bs-body-bg);
  font: 1rem/1.5 var(--bs-font-sans-serif);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;
}
